{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강상 특이사항 체크</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://i.postimg.cc/xdmYFx3Q/1.png" rel="shortcut icon" type="image/x-icon" />
    <link
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
      rel="stylesheet"
    />
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" /> 부트스트랩4 온라인 링크 오류날 시 사용{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/basic.css'%}" />
    <link rel="stylesheet" href="{% static 'css/significants.css'%}" />
    <style>
        .bottom-border {
            border-style: solid;
            border-top-color: white;
            border-left-color: white;
            border-right-color: white;
            border-bottom-color: #DADCE0;
            border-bottom-width: 1px;
            padding-bottom: 10px;
        }
        .border-dfe1e5{
            border: 1px solid #dfe1e5;
            border-radius: 24px;
        }
        .back-btn {
            cursor: pointer;
            color: #007bff;
        }
    </style>
</head>

<body>
    <nav class="navigator" style="min-width:400px">
        <a class="logo" href="http://127.0.0.1:8000/account/">
          <img src="https://i.postimg.cc/kG1hkr9z/image.png" alt="Logo">
        </a>
      <ul style="float:right;">
        <li class="list_left"><a class="nav_a font" href="http://127.0.0.1:8000/image/upload/">체성분 분석</a></li>
        <li class="list_left"><a class="nav_a font">운동 및 식단</a></li>
        <li class="list_left"><a class="nav_a font" href="http://127.0.0.1:8000/account/userInformation">마이페이지</a></li>
        <li class="list_left"><a class="nav_a font" href="http://127.0.0.1:8000/account/logout">로그아웃</a></li>
      </ul>
    </nav>
    <h1 class="text-center bottom-border font" style="margin-top:10px; margin-bottom:10px;">특이사항 입력</h1>
    
    <div class="container">   
        
        <ol class="c-stepper" style="margin-top:30px;">
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 1</h3>
              <p class="c-stepper__desc">이미지 업로드</p>
            </li>
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 2</h3>
              <p class="c-stepper__desc">특이사항 입력</p>
            </li>
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 3</h3>
              <p class="c-stepper__desc">결과 확인</p>
            </li>
          </ol>

        <form method="post" style="margin-top:20px">
            {% csrf_token %}
            {% for choice in form.health_significants %}
            {% comment %} <div class="form-check border-dfe1e5 d-flex justify-content-between" style="height:50px; font-size:20px;margin-top:10px"> {% endcomment %}
               
                    <div class="form-check">
                        {% if choice.choice_label == '근력 운동이 익숙함' %}

                        
                            <div class="font title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                              </svg>근력운동이 익숙하신가요?</div>
                            <label class="form-check-label" for="weight_high">
                                <input class="form-check-input" type="radio" name="muscle" id="weight_high" /> <div class="font contents">익숙함</div>
                            </label>   
                            {% endif %}
                        
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '근력 운동이 익숙하지 않음' %}
                        <label class="form-check-label" for="weight_high">
                            <input class="form-check-input" type="radio" name="muscle" id="weight_high" /> <div class="font contents">익숙하지 않음</div>
                        </label>
                        <div style="margin-bottom:30px;"></div>
                        {% endif %}
                    </div>
                
                    <div class="form-check">
                        {% if choice.choice_label == '유산소 운동이 익숙함' %}
                        <div class="font title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                              </svg>유산소 운동이 익숙하신가요?
                        </div>
                        <label class="form-check-label" for="cardio_high">
                            <input class="form-check-input" type="radio" name="cardio" id="cardio_high" /> <div class="font contents"> 익숙함</div>
                        </label>   
                        {% endif %}
                    </div>
                <div class="form-check">
                    {% if choice.choice_label == '유산소 운동이 익숙하지 않음' %}
                    <label class="form-check-label" for="cardio_low">
                        <input class="form-check-input" type="radio" name="cardio" id="cardio_low" /> <div class="font contents">익숙하지 않음</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '운동 시간 1시간 이내' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                          </svg>평소 운동을 얼마나 하시나요?</div>
                    <label class="form-check-label" for="under1hour">
                        <input class="form-check-input" type="radio" name="time" id="under1hour" /> <div class="font contents">운동 시간 1시간 이내</div>
                    </label>   
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '운동 시간 1시간 이상' %}
                    <label class="form-check-label" for="over1hour">
                        <input class="form-check-input" type="radio" name="time" id="over1hour" /> <div class="font contents">운동 시간 1시간 이상</d>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>
                
                <div class="form-check" style="margin-left:-40px;">
                    {% if choice.choice_label == '어깨 부상' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                        <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                        <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                        <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                      </svg>부상 위치를 체크해주세요.</div>
                    <label class="form-check-label" for="shoulder">
                        <input class="form-check-input" type="checkbox" id="shoulder" /> <div class="font contents">어깨 부상</div>
                    </label>   
                    {% endif %}
                </div>
                <div class="form-check" style="margin-left:-40px;">
                    {% if choice.choice_label == '팔꿈치 부상' %}
                    <label class="form-check-label" for="elbow">
                        <input class="form-check-input" type="checkbox" id="elbow" /> <div class="font contents">팔꿈치 부상</div>
                    </label>   
                    {% endif %}
                </div>
                <div class="form-check" style="margin-left:-40px;">
                    {% if choice.choice_label == '허리 부상' %}
                    <label class="form-check-label" for="waist">
                        <input class="form-check-input" type="checkbox" id="waist" /> <div class="font contents">허리 부상</div>
                    </label>   
                    {% endif %}
                </div>
                <div class="form-check" style="margin-left:-40px;">
                    {% if choice.choice_label == '무릎 부상' %}
                    <label class="form-check-label" for="knee">
                        <input class="form-check-input" type="checkbox" id="knee" /> <div class="font contents">무릎 부상</div>
                    </label>   
                    {% endif %}
                </div>  
            {% endfor %}
            <div class="row justify-content-center" style="margin-top:50px; margin-left:-55px; margin-bottom:30px;width:1140px;">
                <button class="btn btn-lg" type="submit" style="width:200px;">제출하기</button>
            </div>
        </form>
    </div>
</body>

</html> 
