{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강상 특이사항 체크</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://i.postimg.cc/xdmYFx3Q/1.png" rel="shortcut icon" type="image/x-icon" />
    <link
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
      rel="stylesheet"
    />
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" /> 부트스트랩4 온라인 링크 오류날 시 사용{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/basic.css'%}" />
    <link rel="stylesheet" href="{% static 'css/significants.css'%}" />
    <script src="{% static 'js/significants.js' %}"></script>
    <style>
        .bottom-border {
            border-style: solid;
            border-top-color: white;
            border-left-color: white;
            border-right-color: white;
            border-bottom-color: #DADCE0;
            border-bottom-width: 1px;
            padding-bottom: 10px;
        }
        .border-dfe1e5{
            border: 1px solid #dfe1e5;
            border-radius: 24px;
        }
        .back-btn {
            cursor: pointer;
            color: #007bff;
        }
    </style>
</head>

<body>
    <nav class="navigator" style="min-width:400px">
        <a class="logo" href="{% url 'account:profile'%}">
          <img src="https://i.postimg.cc/kG1hkr9z/image.png" alt="Logo">
        </a>
        <ul style="float:right;">
            <li class="list_left"><a class="nav_a font" href="{% url 'image:upload'%}">체성분 분석</a></li>
            <li class="list_left"><a class="nav_a font" href="{% url 'account:biagraph'%}">체성분 기록</a></li>
            <li class="list_left"><a class="nav_a font" href="{% url 'account:userInformation'%}">마이페이지</a></li>
            <li class="list_left"><a class="nav_a font" href="{% url 'account:logout'%}">로그아웃</a></li>
        </ul>
    </nav>
    <h1 class="text-center bottom-border font" style="margin-top:10px; margin-bottom:10px;">특이사항 입력</h1>
    
    <div class="container">   
        
        <ol class="c-stepper" style="margin-top:30px;">
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 1</h3>
              <p class="c-stepper__desc">이미지 업로드</p>
            </li>
            <li class="c-stepper__item">
                <h3 class="c-stepper__title">Step 2</h3>
                <p class="c-stepper__desc">OCR 결과 확인</p>
              </li>
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 3</h3>
              <p class="c-stepper__desc">특이사항 입력</p>
            </li>
            <li class="c-stepper__item">
              <h3 class="c-stepper__title">Step 4</h3>
              <p class="c-stepper__desc">결과 확인</p>
            </li>
          </ol>

        <form method="post" style="margin-top:20px">
            {% csrf_token %}
            {% for choice in form.health_significants %}
                    <div class="form-check">
                        {% if choice.choice_label == '다이어트' %}
                            <div class="font title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                            </svg>운동 목표를 설정해 주세요.</div>
                            <label class="form-check-label" for="target_diet">
                                <input class="form-check-input" type="radio" name="target" id="target_diet" value="target_diet" onclick="getRecommendSnack(event)" /> <div class="font contents">다이어트</div>
                            </label>
                            {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '체중유지' %}
                        <label class="form-check-label" for="target_keep">
                            <input class="form-check-input" type="radio" name="target" id="target_keep" value="target_keep"/> <div class="font contents">체중유지</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '벌크업' %}
                        <label class="form-check-label" for="target_bulkup">
                            <input class="form-check-input" type="radio" name="target" id="target_bulkup" value="target_bulkup"/> <div class="font contents">벌크업</div>
                        </label>
                        <div style="margin-bottom:30px;"></div>
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {% if choice.choice_label == '운동 추천받음' %}
                            <div class="font title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                            </svg>운동 추천을 받으시겠습니까?</div>
                            <label 
                            class="form-check-label" 
                            for="recommendexercise_yse">
                                <input 
                                class="form-check-input" 
                                type="radio" 
                                name="recommendexercise" 
                                id="recommendexercise_yse" 
                                value="recommendexercise_yse" 
                                onclick='getRecommendExercise(event)' /> 
                                <div class="font contents">예</div>
                            </label>
                            {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동 추천거부' %}
                        <label class="form-check-label" for="recommendexercise_no">
                            <input 
                            class="form-check-input"
                            type="radio" 
                            name="recommendexercise" 
                            id="recommendexercise_no" 
                            value="recommendexercise_no" 
                            onclick='getRecommendExercise(event)'/>
                            <div class="font contents">아니요</div>
                        </label>
                        <div style="margin-bottom:30px;"></div>
                        {% endif %}
                    </div>
                    
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_월요일' %}
                        <div class="font title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                            </svg>운동 추천받을 요일을 선택해주세요.(중복체크가능)</div>
                        <label class="form-check-label" for="exercise_selected_mon">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_mon" value="exercise_selected_mon"/> <div class="font contents">월요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_화요일' %}
                        <label class="form-check-label" for="exercise_selected_tue">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_tue" value="exercise_selected_tue"/> <div class="font contents">화요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_수요일' %}
                        <label class="form-check-label" for="exercise_selected_wed">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_wed" value="exercise_selected_wed"/> <div class="font contents">수요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_목요일' %}
                        <label class="form-check-label" for="exercise_selected_thu">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_thu" value="exercise_selected_thu"/> <div class="font contents">목요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_금요일' %}
                        <label class="form-check-label" for="exercise_selected_fri">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_fri" value="exercise_selected_fri"/> <div class="font contents">금요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_토요일' %}
                        <label class="form-check-label" for="exercise_selected_sat">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_sat" value="exercise_selected_sat"/> <div class="font contents">토요일</div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {% if choice.choice_label == '운동선택_일요일' %}
                        <label class="form-check-label" for="exercise_selected_sun">
                            <input class="form-check-input" type="checkbox" name="selected_recommendexercise" id="exercise_selected_sun" value="exercise_selected_sun"/> <div class="font contents">일요일</div>
                        </label>
                        <div style="margin-bottom:30px;"></div>
                        {% endif %}
                    </div>
                    

                    <div class="form-check">
                        {% if choice.choice_label == '근력 운동이 익숙함' %}
                            <div class="font title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                    <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                    <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                    <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                                </svg>근력운동이 익숙하신가요?</div>
                            <label class="form-check-label" for="weight_high">
                                <input class="form-check-input" type="radio" name="muscle" id="weight_high" value="weight_high"/> <div class="font contents">익숙함</div>
                            </label>
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {% if choice.choice_label == '근력 운동이 익숙하지 않음' %}
                            <label class="form-check-label" for="weight_low">
                                <input class="form-check-input" type="radio" name="muscle" id="weight_low" value="weight_low"/> <div class="font contents">익숙하지 않음</div>
                            </label>
                            <div style="margin-bottom:30px;"></div>
                        {% endif %}
                    </div>

                    <div class="form-check">
                        {% if choice.choice_label == '유산소 운동이 익숙함' %}
                            <div class="font title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                                    <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                    <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                                    <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                                </svg>유산소 운동이 익숙하신가요?
                            </div>
                            <label class="form-check-label" for="cardio_high">
                                <input class="form-check-input" type="radio" name="cardio" id="cardio_high" value="cardio_high"/> <div class="font contents"> 익숙함</div>
                            </label>
                        {% endif %}
                    </div>
                <div class="form-check">
                    {% if choice.choice_label == '유산소 운동이 익숙하지 않음' %}
                        <label class="form-check-label" for="cardio_low">
                            <input class="form-check-input" type="radio" name="cardio" id="cardio_low" value="cardio_low"/> <div class="font contents">익숙하지 않음</div>
                        </label>
                        <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '운동 시간 1시간 이내' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                          </svg>평소 운동을 얼마나 하시나요?</div>
                    <label class="form-check-label" for="under1hour">
                        <input class="form-check-input" type="radio" name="time" id="under1hour" value="under1hour"/> <div class="font contents">운동 시간 1시간 이내</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '운동 시간 1시간 이상' %}
                    <label class="form-check-label" for="over1hour">
                        <input class="form-check-input" type="radio" name="time" id="over1hour" value="over1hour"/> <div class="font contents">운동 시간 1시간 이상</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '어깨 부상' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                        <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                        <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                        <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                      </svg>부상 위치를 체크해주세요.(중복체크가능)</div>
                    <label class="form-check-label" for="shoulder">
                        <input class="form-check-input" type="checkbox" name="health_significants" id="shoulder" value="shoulder"/> <div class="font contents">어깨 부상</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '팔꿈치 부상' %}
                    <label class="form-check-label" for="elbow">
                        <input class="form-check-input" type="checkbox" name="health_significants" id="elbow" value="elbow"/> <div class="font contents">팔꿈치 부상</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '허리 부상' %}
                    <label class="form-check-label" for="waist">
                        <input class="form-check-input" type="checkbox" name="health_significants" id="waist" value="waist"/> <div class="font contents">허리 부상</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '무릎 부상' %}
                    <label class="form-check-label" for="knee">
                        <input class="form-check-input" type="checkbox" name="health_significants" id="knee" value="knee"/> <div class="font contents">무릎 부상</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '식단_추천받음' %}
                        <div class="font title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>식단 추천을 받으시겠습니까?</div>
                        <label class="form-check-label" for="recommenddiet_yes">
                            <input class="form-check-input" type="radio" name="recommenddiet" id="recommenddiet_yes" value="recommenddiet_yes" onclick="getRecommendDiet(event)" /> <div class="font contents">예</div>
                        </label>
                        {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단_추천거부' %}
                    <label class="form-check-label" for="recommenddiet_no">
                        <input class="form-check-input" type="radio" name="recommenddiet" id="recommenddiet_no"  value="recommenddiet_no" onclick="getRecommendDiet(event)"/> <div class="font contents">아니요</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '비활동적인직업' %}
                        <div class="font title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>일을 할 때 주로 앉아서 일을 하시나요?</div>
                        <label class="form-check-label" for="inactive_occupation">
                            <input class="form-check-input" type="radio" name="occupation" id="inactive_occupation" value = "inactive_occupation" /> <div class="font contents">예</div>
                        </label>
                        {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '활동적인직업' %}
                    <label class="form-check-label" for="active_occupation">
                        <input class="form-check-input" type="radio" name="occupation" id="active_occupation" value = "active_occupation"/> <div class="font contents">아니요</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '알레르기_메밀' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>음식 알레르기를 입력해주세요.(중복체크가능)</div>
                    <label class="form-check-label" for="allergy_buckwheat">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_buckwheat" value="allergy_buckwheat"/> <div class="font contents">메밀</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_밀' %}
                    <label class="form-check-label" for="allergy_wheat">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_wheat" value="allergy_wheat"/> <div class="font contents">밀</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_대두' %}
                    <label class="form-check-label" for="allergy_soybean">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_soybean" value="allergy_soybean"/> <div class="font contents">대두</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_땅콩' %}
                    <label class="form-check-label" for="allergy_peanut">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_peanut" value="allergy_peanut"/> <div class="font contents">땅콩</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_호두' %}
                    <label class="form-check-label" for="allergy_walnut">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_walnut" value="allergy_walnut"/> <div class="font contents">호두</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_잣' %}
                    <label class="form-check-label" for="allergy_pine_nut">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_pine_nut" value="allergy_pine_nut"/> <div class="font contents">잣</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_아황산류' %}
                    <label class="form-check-label" for="allergy_sulfurousacids">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_sulfurousacids" value="allergy_sulfurousacids"/> <div class="font contents">아황산류</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_복숭아' %}
                    <label class="form-check-label" for="allergy_peach">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_peach" value="allergy_peach"/> <div class="font contents">복숭아</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_토마토' %}
                    <label class="form-check-label" for="allergy_tomato">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_tomato" value="allergy_tomato"/> <div class="font contents">토마토</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_계란' %}
                    <label class="form-check-label" for="allergy_eggs">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_eggs" value="allergy_eggs"/> <div class="font contents">계란</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_우유' %}
                    <label class="form-check-label" for="allergy_milk">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_milk" value="allergy_milk"/> <div class="font contents">우유</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_새우' %}
                    <label class="form-check-label" for="allergy_shrimp">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_shrimp" value="allergy_shrimp"/> <div class="font contents">새우</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_고등어' %}
                    <label class="form-check-label" for="allergy_macherel">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_macherel" value="allergy_macherel"/> <div class="font contents">고등어</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_오징어' %}
                    <label class="form-check-label" for="allergy_squid">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_squid" value="allergy_squid"/> <div class="font contents">오징어</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_게' %}
                    <label class="form-check-label" for="allergy_crab">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_crab" value="allergy_crab"/> <div class="font contents">게</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_조개류' %}
                    <label class="form-check-label" for="allergy_shellfish">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_shellfish" value="allergy_shellfish"/> <div class="font contents">조개류</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_돼지고기' %}
                    <label class="form-check-label" for="allergy_pork">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_pork" value="allergy_pork"/> <div class="font contents">돼지고기</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_쇠고기' %}
                    <label class="form-check-label" for="allergy_beef">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_beef" value="allergy_beef"/> <div class="font contents">쇠고기</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '알레르기_닭고기' %}
                    <label class="form-check-label" for="allergy_chicken">
                        <input class="form-check-input" type="checkbox" name="allergy" id="allergy_chicken" value="allergy_chicken"/> <div class="font contents">닭고기</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '식단선택_월요일' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>식단 추천받을 요일을 선택해주세요.(중복체크가능)</div>
                    <label class="form-check-label" for="diet_selected_mon">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_mon" value="diet_selected_mon"/> <div class="font contents">월요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_화요일' %}
                    <label class="form-check-label" for="diet_selected_tue">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_tue" value="diet_selected_tue"/> <div class="font contents">화요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_수요일' %}
                    <label class="form-check-label" for="diet_selected_wed">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_wed" value="diet_selected_wed"/> <div class="font contents">수요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_목요일' %}
                    <label class="form-check-label" for="diet_selected_thu">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_thu" value="diet_selected_thu"/> <div class="font contents">목요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_금요일' %}
                    <label class="form-check-label" for="diet_selected_fri">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_fri" value="diet_selected_fri"/> <div class="font contents">금요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_토요일' %}
                    <label class="form-check-label" for="diet_selected_sat">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_sat" value="diet_selected_sat"/> <div class="font contents">토요일</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_일요일' %}
                    <label class="form-check-label" for="diet_selected_sun">
                        <input class="form-check-input" type="checkbox" name="selected_recommenddiet" id="diet_selected_sun" value="diet_selected_sun"/> <div class="font contents">일요일</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '식단선택_아침' %}
                    <div class="font title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>식단 할 끼니를 선택해주세요.(중복체크가능)</div>
                    <label class="form-check-label" for="diet_selected_breakfast">
                        <input class="form-check-input" type="checkbox" name="selected_meal" id="diet_selected_breakfast" value="diet_selected_breakfast"/> <div class="font contents">아침</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_점심' %}
                    <label class="form-check-label" for="diet_selected_lunch">
                        <input class="form-check-input" type="checkbox" name="selected_meal" id="diet_selected_lunch" value="diet_selected_lunch"/> <div class="font contents">점심</div>
                    </label>
                    {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '식단선택_저녁' %}
                    <label class="form-check-label" for="diet_selected_dinner">
                        <input class="form-check-input" type="checkbox" name="selected_meal" id="diet_selected_dinner" value="diet_selected_dinner"/> <div class="font contents">저녁</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>

                <div class="form-check">
                    {% if choice.choice_label == '간식_추천받음' %}
                        <div class="font title">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16" style="margin-right:10px;">
                            <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                            <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"/>
                            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"/>
                        </svg>간식 추천을 받으시겠습니까?</div>
                        <label class="form-check-label" for="recommendsnack_yes">
                            <input class="form-check-input" type="radio" name="recommendsnack" id="recommendsnack_yes" value = "recommendsnack_yes"/> <div class="font contents">예</div>
                        </label>
                        {% endif %}
                </div>
                <div class="form-check">
                    {% if choice.choice_label == '간식_추천거부' %}
                    <label class="form-check-label" for="recommendsnack_no">
                        <input class="form-check-input" type="radio" name="recommendsnack" id="recommendsnack_no" value = "recommendsnack_no" /> <div class="font contents">아니요</div>
                    </label>
                    <div style="margin-bottom:30px;"></div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <button class="btn btn-lg" type="submit" style="width:200px; margin-bottom:30px;">제출하기</button>
            </div>
        </form>
    </div>
</body>

</html>
