<html>

    <head>
         <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>로그인 페이지</title>
    </head>
    <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>로그인</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <form method="post" action="{% url 'account:login' %}">
                    {% csrf_token %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="아이디를 입력하세요">
                    </div>

                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
                    </div>

                    <button type="submit" class="btn btn-primary">로그인</button>
                    <br>
                    <span style="color:red;"><strong>{{ error }}</strong> </span>
                </form>
                 <a href="{% url 'account:signup' %}">회원가입</a>
            </div>
        </div>
    </div>
</body>
</html>