<!DOCTYPE html>
<html>
<head>
    <title>환영 페이지</title>
</head>
<body>
    <h1>환영합니다, {{ username }}님!</h1>

    <form action="{% url 'image:upload' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="사진 업로드">
    </form>d

    <form action="{% url 'account:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="로그아웃">
    </form>

    <form action="{% url 'account:delete' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="탈퇴">
    </form>
</body>
</html>