<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href={% static 'css/signup.css' %} />
    {% comment %} 글꼴 {% endcomment %}
    <link
      href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css"
      rel="stylesheet"
    />
    <link
      href="https://i.postimg.cc/xdmYFx3Q/1.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
   
  </head>
  <body>
    <div class="container" style="background-color: white;">
      <div class="logo">
        <a href="{% url 'account:login'%}">
          <img src="https://i.postimg.cc/xdmYFx3Q/1.png" alt="Instagram Logo" />
        </a>
      </div>
      <h2 class="font">회원가입</h2>
      <form method="post" action="{% url 'account:signup' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username"><p class="font">아이디</p></label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="id_email"><p class="font">이메일</p></label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="id_password1"><p class="font">비밀번호</p></label>
          {{ form.password1 }}
        </div>
        <div class="form-group">
          <label for="id_password2"><p class="font">비밀번호 확인</p></label>
          {{ form.password2 }}
        </div>
        <div class="form-group">
          <label for="id_gender"><p class="font">성별</p></label>
          {{ form.gender }}
        </div>
        <div class="form-group" style="margin-bottom: 20px">
          <label for="id_birthday"><p class="font">생년월일</p></label>
          <div style="width:100px; margin:0 auto;">
            {{ form.birthday }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary font"
        style="
               height:50px;
               font-size:17px;
              ">회원가입</button>
      </form>
    </div>
  </body>
</html>
