{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인 정보 수정</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
     {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" /> 부트스트랩4 온라인 링크 오류날 시 사용{% endcomment %}
  
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" />
    <link
      href="https://i.postimg.cc/xdmYFx3Q/1.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <style>
      .border {
        display: inline-block;
        width: 100%;
        height: 50px;
        margin: 6px;
      }
      .group-border {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #E1E3E1;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navigator" style="min-width:400px">
      <a class="logo" href="{% url 'account:profile'%}">
        <img src="https://i.postimg.cc/kG1hkr9z/image.png" alt="Logo">
      </a>
    <ul style="float:right;">
      <li class="list_left"><a class="nav_a font" href="{% url 'image:upload'%}">체성분 분석</a></li>
      <li class="list_left"><a class="nav_a font" href="{% url 'account:dietmenu'%}">운동 및 식단</a></li>
      <li class="list_left"><a class="nav_a font" href="{% url 'account:userInformation'%}">마이페이지</a></li>
      <li class="list_left"><a class="nav_a font" href="{% url 'account:logout'%}">로그아웃</a></li>
    </ul>
  </nav>
    <div class="container">
      <h1 class="text-center bottom-border font">개인 정보 수정</h1>
      <div style="margin-bottom:10px;">
        <i
          class="bi bi-arrow-left back-btn"
          style="cursor: pointer"
          onclick="history.back()"
        ></i> 
        <span class="back-btn font"style="cursor: pointer" onclick="history.back()">뒤로가기</span>
      </div>
      <ul class="list-group group-border" style="margin-bottom:20px;">
        <h5 class="font" style="padding:5px;">기본정보</h4>
        <form method="post">
          {% csrf_token %}
          <li class="list-group-item d-flex">
            <div class="font row justify-content-start col-sm-4 align-self-center">
              현재 ID
            </div>
            <div class="font row justify-content-end col-sm-6 align-self-center">
              {{user.username}}
            </div>
          </li>
          <li class="list-group-item d-flex">
            <div class="font row justify-content-start col-sm-4 align-self-center">
              이메일 주소
            </div>
            <div class="font row justify-content-end col-sm-6 align-self-center">
              {{form.email}}
            </div>
          </li>
          <li class="list-group-item d-flex">
            <div class="font row justify-content-start col-sm-4 align-self-center">
              생일
            </div>
            <div class="font row justify-content-end col-sm-6 align-self-center">
              {{form.birthday}}
            </div>
          </li>
          <li class="font list-group-item d-flex">
            <div class="row justify-content-start col-sm-4 align-self-center">
              성별
            </div>
            <div class="font row justify-content-end col-sm-6 align-self-center">
              {{form.gender}}
            </div>
          </li>
          <button type="submit" class="font btn">변경하기</button>
        </form>
      </ul>
    </div>
  </body>
</html>