
  .container{
    background-color: white;
  }
  
  .bottom-border{
      border-style:solid;
      border-top-color:white;
      border-left-color:white;
      border-right-color:white;
      border-bottom-color:#DADCE0;
      border-bottom-width:1px;
      padding-bottom:10px;
  }
  
  .list_left{
    margin-top:20px;
    list-style:none;
    float: left;
    padding: 0 30px;
    line-height:22px;
  }
  .nav_a{
    display: block;
    float: left;
    text-decoration:none;
    font-size: 18px;
    line-height: 22px;
    padding: 0 20px;
    outline: none;
    color: green;
  }
  
  .navigator{
    width:100%;
    overflow:hidden;
    height:66px;
    background-color: white;
    margin:0px auto;
    position:sticky;
    top:0;
    border-bottom: 1px solid #5ec987;
  }
  
  .logo img {
    margin-top: 5px;
    width: 120px;
  }
  .logo {
    margin-top: 5px;
    margin-left: 30px;
  }
  
  .font{
    font-family: 'NanumSquare', sans-serif;
  }
  
  .btn{
    background-color:#5ec987;
    color:white;
  }
  .border-gray{
    border: 1px rgb(128, 128, 128) solid;
  
  }
.main-content {
    width: 90%;
    margin: 0 auto;
    padding: 105px 0;
    display: flex;
    justify-content: center;
}

.main-program {
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row {
    display: flex; /* Flexbox를 사용하면 자식 요소들을 좀 더 유연하게 정렬할 수 있습니다. */
    justify-content: center; /* 중앙 정렬 */
    flex-wrap: wrap; /* 요소들이 컨테이너 너비를 초과하면 다음 줄로 넘깁니다. */
}

.sm-30 {
    flex: 1 1 30%; /* flex-grow, flex-shrink 및 flex-basis 설정 */
    margin: 10px; /* 주변 여백으로 요소들 사이의 간격을 설정 */
    max-width: 320px; /* 최대 너비를 설정하여 요소들이 너무 커지지 않도록 제한 */
}

.border-item {
    display: flex; /* Flexbox 설정 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 세로 축 기준 중앙 정렬 */
    justify-content: center; /* 가로 축 기준 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 20px; /* 내부 여백 */
    height: 100%; /* 부모 컨테이너에 맞게 높이 설정 */
    box-shadow: 5px 5px 10px -5px;
    border-radius: 10px;
    background-color: white;
    margin:7px;
}

  .icon-margin{
    margin-bottom:15px;
  }

  .icon img {
    width: 55px;
    height:60px;
    color:#0000ff;
  }
  .icon{
    color:#0000ff;
  }

  .status-title{
    border-radius:10px;
    border: 1px red solid; 
  }

  .fill {
    width: 1120px;
    height:630px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13156420&filePath=L2Rpc2sxL25ld2RhdGEvMjAxOC8yMS9DTFMxLzEzMTU2NDIwX0NPTENUXzIwMTgxMTI2XzE=&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10004");
}